@media (min-device-width: 0px) {
  .top .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  header .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container {
    width: 80%;
  }
}

@media (min-device-width: 300px) {
  body {
    padding: 0;
  }
  header .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header .logo {
    text-align: center;
  }
  header .header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header .menu ul {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question .info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question .info form button {
    margin: 0 auto;
  }
  .question .info .contact {
    text-align: center;
    margin-top: 20px;
  }
  .awards .awards_1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .awards .awards_1 .movie {
    width: 100%;
    height: 500px;
  }
  .awards .awards_1 .text {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .awards .awards_1 .text p {
    padding-right: 0;
  }
  .awards_2 .awards_1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .awards_2 .awards_1 .movie {
    width: 100%;
    height: 500px;
  }
  .awards_2 .awards_1 .text {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .awards_2 .awards_1 .text p {
    padding-right: 0;
  }
}

@media (min-device-width: 900px) {
  body {
    padding-top: 77px;
  }
  .top .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  header {
    position: fixed;
  }
  header .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .header .logo {
    text-align: left;
  }
  header .header .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .header .menu ul {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .question .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .question .info form button {
    margin: 0;
  }
  .awards .awards_1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .awards .awards_1 .movie {
    width: 50%;
  }
  .awards .awards_1 .text {
    padding-left: 30px;
    padding-right: 15px;
    text-align: left;
  }
  .awards_2 .awards_1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .awards_2 .awards_1 .movie {
    width: 50%;
  }
  .awards_2 .awards_1 .text {
    padding-left: 30px;
    padding-right: 15px;
    text-align: left;
  }
}

@media (min-device-width: 1000px) {
  .top .grid {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .demo-2 .grid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .recomend .feedbacks {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  header .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container {
    width: 80%;
  }
}

@media (min-device-width: 1300px) {
  .top .grid {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  .demo-2 .grid {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .recomend .feedbacks {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  header .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-device-width: 1500px) {
  .top .grid {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  .demo-2 .grid {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .recomend .feedbacks {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .container {
    width: 1200px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: aliceblue;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121213;
}

.container {
  margin: 0 auto;
}

.btn {
  background-color: #2e2e5e;
  padding: 5px;
  border-radius: 5px;
  line-height: 20px;
  text-align: center;
  border: 0px transparent;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 46px;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

header {
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  -webkit-box-shadow: 0 -47px 37px 9px white;
          box-shadow: 0 -47px 37px 9px white;
  background-color: #121213;
}

header .header {
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header .logo {
  width: 100%;
}

header .header .menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 7px;
}

header .header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .header .menu ul li a {
  line-height: 40px;
  margin-left: 30px;
  text-decoration: none;
  color: aliceblue;
}

.demo {
  background-image: url(/images/bg-1.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.demo .filter {
  background-color: rgba(58, 80, 64, 0.233);
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo .filter .play .text > a {
  margin-top: 20px;
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f04b';
  font-size: 35px;
  color: white;
  background-color: #2e2e5e;
  border-radius: 50%;
  line-height: 70px;
  height: 70px;
  width: 70px;
}

.demo .filter .play .text > a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #2e2e5e;
  background-color: black;
}

.demo .filter .play .text > a i {
  margin-left: 6px;
}

.top {
  padding: 50px 0;
  background-color: #0e1011;
}

.top .text {
  text-align: center;
}

.top .text p {
  margin-top: 25px;
  padding: 0 10%;
  color: #ffffffc0;
}

.top .grid {
  display: -ms-grid;
  display: grid;
  margin-top: 75px;
  grid-gap: 20px;
}

.top .grid .block {
  position: relative;
  cursor: pointer;
}

.top .grid .block:hover:after {
  -webkit-box-shadow: inset 0 0 11px 1px #000000;
          box-shadow: inset 0 0 11px 1px #000000;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top .grid .block img {
  width: 100%;
  border: 1px solid #2e2e5e;
}

.top .grid .block h3 {
  position: absolute;
  left: 3%;
  bottom: 3%;
  text-shadow: 0px 0px 6px #000000;
}

.top .grid .block a {
  position: absolute;
  display: inline-block;
  color: #ffffffc0;
  right: 3%;
  bottom: 3%;
}

.demo-2 {
  background-image: url(/images/bg-2.png);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.demo-2 .filter {
  padding: 50px 0;
}

.demo-2 .filter .grid {
  padding-top: 40px;
  grid-gap: 30px;
  display: -ms-grid;
  display: grid;
}

.demo-2 .filter .grid .block {
  position: relative;
  background-color: #121213d5;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.demo-2 .filter .grid .block:hover:after {
  -webkit-box-shadow: inset 0 0 13px 1px #2cda4d26;
          box-shadow: inset 0 0 13px 1px #2cda4d26;
  content: ' ';
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.demo-2 .filter .grid .block .image {
  position: relative;
}

.demo-2 .filter .grid .block .image img {
  width: 100%;
}

.demo-2 .filter .grid .block .image h4 {
  display: inline;
  position: absolute;
  left: 3%;
  top: 80%;
  text-shadow: 0px 0px 6px #000000;
}

.demo-2 .filter .grid .block .image a i {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  color: #ffffffc9;
}

.demo-2 .filter .grid .block .text {
  padding: 30px 10px;
  text-align: left;
}

.demo-2 .filter .grid .block .text p {
  font-size: 14px;
}

.demo-2 .filter .grid .block:hover {
  -webkit-box-shadow: 0 0 0 white;
          box-shadow: 0 0 0 white;
}

.recomend {
  padding: 80px 0;
  background-color: #0e1011;
}

.recomend > .text {
  text-align: center;
}

.recomend > .text p {
  margin-top: 20px;
  padding: 0 10%;
  color: #ffffffc0;
}

.recomend .feedbacks {
  display: -ms-grid;
  display: grid;
  margin-top: 75px;
  grid-gap: 20px;
}

.recomend .feedbacks .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recomend .feedbacks .feed .text {
  position: relative;
  background-color: #0e1011;
  border: 1px solid #2e2e5e;
  padding: 20px;
  max-width: 368px;
}

.recomend .feedbacks .feed .text p {
  font-weight: 100;
  line-height: 22px;
}

.recomend .feedbacks .feed .user {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recomend .feedbacks .feed .user .img {
  padding-left: 15px;
}

.recomend .feedbacks .feed .user .img img {
  width: 70%;
  border: 1.5px solid #2e2e5e;
  border-radius: 50%;
}

.recomend .feedbacks .feed .user .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recomend .feedbacks .feed .user .name h5 {
  font-size: 18px;
  line-height: 28px;
}

.recomend .feedbacks .feed .user .name p {
  font-size: 14px;
  color: #ffffffc0;
  line-height: 24px;
}

.awards {
  background-color: #0e1011;
  padding: 50px 0;
}

.awards .awards_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.awards .awards_1 .movie {
  background-image: url(/images/bg-5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.awards .awards_1 .text {
  height: 100%;
  width: 50%;
}

.awards .awards_1 .text h1 {
  font-size: 46px;
}

.awards .awards_1 .text h2 {
  font-size: 46px;
}

.awards .awards_1 .text p {
  margin-top: 20px;
  font-weight: 100;
  line-height: 24px;
  color: #ffffffc0;
}

.awards .awards_1 .text a {
  display: inline-block;
  margin-top: 30px;
}

.awards_2 {
  background-color: transparent;
}

.awards_2 .awards_1 .movie {
  background-image: url(/images/bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe {
  background-image: url(/images/bg-3.png);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe .filter {
  background-color: rgba(58, 75, 85, 0.342);
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .filter .text {
  width: 60%;
  margin: 0 auto;
}

.subscribe .filter .text h3 {
  font-size: 36px;
  line-height: 46px;
}

.subscribe .filter .text form {
  padding: 40px 0;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe .filter .text form input {
  width: 90%;
  margin: 0 auto;
  padding: 16px 24px;
  display: block;
  background-color: #0e1011;
  border: 1px solid #2e2e5e;
  border-radius: 40px;
}

.subscribe .filter .text form button {
  margin: 0 auto;
  padding: 16px 24px;
  margin-top: 15px;
  display: block;
  width: 90%;
  font-weight: 900;
  font-size: 16px;
}

.question {
  background-color: #0e1011;
  padding: 80px 0;
}

.question .text {
  text-align: center;
}

.question .text h2 {
  font-size: 36px;
  line-height: 46px;
}

.question .text p {
  padding: 0 10%;
  margin-top: 25px;
  color: #ffffffc0;
}

.question .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0 0 0;
  display: flex;
}

.question .info form {
  padding: 0 20px;
  width: 50%;
}

.question .info form input {
  width: 100%;
  margin-top: 15px;
  padding: 16px 24px;
  display: block;
  background-color: #0e1011;
  border: 1px solid #2e2e5e;
  border-radius: 40px;
}

.question .info form textarea {
  margin-top: 15px;
  padding: 16px 24px;
  display: block;
  background-color: #0e1011;
  border: 1px solid #2e2e5e;
  border-radius: 40px;
  width: 100%;
}

.question .info form button {
  padding: 16px 24px;
  margin-top: 15px;
  display: block;
  font-weight: 900;
  font-size: 16px;
}

.question .info .contact {
  padding: 0 20px;
}

.question .info .contact .block {
  margin-bottom: 30px;
}

.question .info .contact .block h6 {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 26px;
}

.question .info .contact .block h6 i {
  color: #2e2e5e;
  margin-right: 4px;
}

.question .info .contact .block p {
  color: #ffffffc0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
}

.question .info .contact .follow a {
  border: 2px solid #2e2e5e;
  padding: 8px 8px;
  border-radius: 4px;
  margin-right: 5px;
}

.question .info .contact .follow a i {
  color: #2e2e5e;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

footer {
  text-align: center;
}

footer p {
  padding: 30px 0;
}
/*# sourceMappingURL=main.css.map */